.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

.btn1 {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;
}

.btn1:hover {
    background: rgb(219, 226, 226);
    color: black;
    border: 1p;
}

a {
    font-weight: bold;
}

.text {
    font-size: 20px;
}

.help-block {
    color: rgb(175, 8, 8);
}

.fa-eye-slash:hover,
.fa-eye:hover {
    cursor: pointer;
}

.input-group-text {
    height: 4.6rem;
    margin-top: 1rem;
}

.input-group {
    width: 58%;
}